.button
{
    -fx-background-color :  #21262d;
    -fx-background-radius: 20;
}
.button:hover
{
    -fx-background-color : #3c434d;
    -fx-background-radius: 20;
}
.button:pressed
{
    -fx-border-radius : 20;
    -fx-border-width : 2;
    -fx-border-color : #0d1117;
}
.button2
{
    -fx-background-color :  #c6cdd5;
    -fx-background-radius: 20;
}
.button2:hover
{
    -fx-background-color : #ecf2f8;
    -fx-background-radius: 20;
}
button2:pressed
{
    -fx-border-radius : 20;
    -fx-border-width : 2;
    -fx-border-color : #0d1117;
}